In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd 
import numpy as np
import risktools as rt

In [2]:
rt.data.open_data('usSwapCurves')['table']

          date  zeroRates
0   2023-01-04     0.0445
1   2023-02-02     0.0443
2   2023-03-03     0.0453
3   2023-04-03     0.0460
4   2023-05-05     0.0466
..         ...        ...
361 2052-08-15     0.0329
362 2052-09-13     0.0329
363 2052-10-14     0.0329
364 2052-11-12     0.0329
365 2052-12-11     0.0329

[366 rows x 2 columns]

In [24]:
rt.data.open_data('cushing')['c1']

            date   Open   High    Low  Close
0     2013-01-02  91.78  93.87  91.56  93.12
1     2013-01-03  92.91  93.30  92.49  92.92
2     2013-01-04  92.86  93.21  91.52  93.09
3     2013-01-07  93.21  93.35  92.42  93.19
4     2013-01-08  93.32  93.80  92.67  93.15
...          ...    ...    ...    ...    ...
2511  2022-12-23  78.18  80.33  77.98  79.56
2512  2022-12-27  79.90  81.18  79.16  79.53
2513  2022-12-28  79.89  79.92  77.30  78.96
2514  2022-12-29  78.82  78.82  76.79  78.40
2515  2022-12-30  78.73  80.67  77.71  80.26

[2516 rows x 5 columns]