In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd 
import numpy as np
import risktools as rt

In [2]:
rt.data.open_data('usSwapCurves')['table']

          date  zeroRates
0   2023-01-04     0.0445
1   2023-02-02     0.0443
2   2023-03-03     0.0453
3   2023-04-03     0.0460
4   2023-05-05     0.0466
..         ...        ...
361 2052-08-15     0.0329
362 2052-09-13     0.0329
363 2052-10-14     0.0329
364 2052-11-12     0.0329
365 2052-12-11     0.0329

[366 rows x 2 columns]

In [21]:
rt.data.open_data('dflong')

series  date
ALI01   2014-03-27      NaN
        2014-03-28      NaN
        2014-03-31      NaN
        2014-04-01      NaN
        2014-04-02      NaN
                      ...
WCW12   2022-10-28   -21.30
        2022-10-31   -21.30
        2022-11-01   -22.25
        2022-11-02   -22.25
        2022-11-03   -22.25
Name: value, Length: 756686, dtype: float64