In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import risktools as rt
from loader import _load_json
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
up = {"m*": {"user": "", "pass": ""}, "eia": "", "quandl": ""}

up["eia"] = os.getenv("EIA")
up["quandl"] = os.getenv("QUANDL")
up["m*"]["pass"] = os.getenv("MS_PASS")
up["m*"]["user"] = os.getenv("MS_USER")

In [24]:
rt.data.get_names()

['cancrudeassays',
 'cancrudeassayssum',
 'cancrudeprices',
 'crudeassaysBP',
 'crudeassaysXOM',
 'crudes',
 'dflong',
 'dfwide',
 'df_fut',
 'eiaStocks',
 'eiaStorageCap',
 'expiry_table',
 'fizdiffs',
 'holidaysOil',
 'planets',
 'ref_opt_inputs',
 'ref_opt_outputs',
 'tickers_eia',
 'tradeCycle',
 'tradeprocess',
 'usSwapCurves',
 'usSwapCurvesPar',
 'usSwapIR',
 'usSwapIRdef']

In [26]:
for nm in rt.data.get_names():
    display(rt.data.open_data(nm))

,Ticker,Crude,date,Location,Density,Gravity,Sulphur,MCR,Nickel,Vanadium,...,Decanes,Benzene,Toluene,Ethyl Benzene,Xylenes,Sediment,TAN,Salt,Viscosity,Olefins
0,AWB,Access Western Blend,1970-01-01 00:00:00.000014610,Edmonton,919.9,22.2,3.83,10.3,68.7,184.5,...,0.56,0.28,0.58,0.07,0.50,72.0,1.62,7.5,NaN,NaN
1,AWB,Access Western Blend,1970-01-01 00:00:00.000014641,Edmonton,918.1,22.5,3.89,10.5,68.3,186.6,...,0.60,0.32,0.63,0.08,0.54,NaN,1.60,NaN,NaN,NaN
2,AWB,Access Western Blend,1970-01-01 00:00:00.000014669,Edmonton,917.9,22.5,3.79,10.3,66.3,178.2,...,0.58,0.32,0.60,0.07,0.52,NaN,1.63,NaN,NaN,NaN
3,AWB,Access Western Blend,1970-01-01 00:00:00.000014700,Edmonton,920.6,22.1,3.82,10.4,70.1,184.0,...,0.73,0.30,0.58,0.08,0.53,120.0,1.59,5.7,NaN,NaN
4,AWB,Access Western Blend,1970-01-01 00:00:00.000014730,Edmonton,924.2,21.5,3.90,10.5,69.3,190.9,...,0.63,0.29,0.56,0.07,0.51,NaN,1.70,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,WH,Wabasca Heavy,1970-01-01 00:00:00.000018901,Edmonton,935.7,19.6,3.92,8.6,49.3,120.0,...,1.81,0.05,0.14,0.12,0.36,NaN,0.83,NaN,NaN,NaN
1220,WH,Wabasca Heavy,1970-01-01 00:00:00.000018932,Edmonton,926.8,21.0,3.92,8.2,47.2,124.0,...,1.68,0.05,0.15,0.11,0.32,NaN,0.87,NaN,NaN,NaN
1221,WH,Wabasca Heavy,1970-01-01 00:00:00.000018962,Edmonton,921.7,21.9,3.97,8.0,53.0,167.0,...,2.06,0.09,0.28,0.15,0.51,98.0,0.78,5.3,NaN,NaN
1222,WH,Wabasca Heavy,1970-01-01 00:00:00.000018993,Edmonton,923.5,21.6,4.04,8.2,47.0,128.0,...,1.76,0.07,0.22,0.13,0.44,NaN,0.80,NaN,NaN,NaN
1223,WH,Wabasca Heavy,1970-01-01 00:00:00.000019024,Edmonton,925.8,21.2,3.92,7.9,45.3,123.0,...,1.24,0.08,0.27,0.14,0.50,NaN,0.71,NaN,NaN,NaN

,Ticker,Crude,date,Density,Gravity,Sulphur,MCR,Nickel,Vanadium,C3-,...,Hexanes,Heptanes,Octanes,Nonanes,Decanes,Benzene,Toluene,Ethyl Benzene,Xylenes,TAN
0,AWB,Access Western Blend,1970-01-01 00:00:00.000016795,922.4403,21.7755,3.8900,10.6441,69.9540,182.8655,0.0668,...,6.3045,3.9330,2.4098,1.2527,0.5888,0.2351,0.4117,0.0450,0.3453,1.7029
1,BRN,Bow River North,1970-01-01 00:00:00.000016867,925.0811,21.3370,2.9093,10.1401,45.7906,103.0157,0.1400,...,4.1692,3.1091,2.7046,2.0180,0.9502,0.1086,0.2272,0.0769,0.2877,0.8817
2,CDB,Christina Dilbit Blend,1970-01-01 00:00:00.000017171,923.0045,21.6793,3.8504,10.4042,67.8603,175.1818,0.0621,...,5.9238,3.5237,2.1433,1.1469,0.5588,0.2049,0.3364,0.0374,0.2839,1.5869
3,CL,Cold Lake,1970-01-01 00:00:00.000016795,926.2164,21.1497,3.7587,10.3723,62.5993,160.0605,0.0588,...,5.3240,3.3108,2.1845,1.3508,0.6687,0.1981,0.3385,0.0451,0.3025,1.0840
4,LLB,Lloyd Blend,1970-01-01 00:00:00.000016736,927.1219,21.0000,3.5063,9.6292,55.6905,123.3672,0.0757,...,3.9163,2.9043,2.1555,1.5222,0.7750,0.1472,0.3001,0.0464,0.2945,0.8616
5,LLK,Lloyd Kerrobert,1970-01-01 00:00:00.000016785,928.6935,20.7377,3.1279,9.9006,46.6399,106.4920,0.0884,...,3.7816,2.4503,1.8656,1.4348,0.7070,0.1217,0.2051,0.0494,0.2131,0.9983
6,MSW,Mixed Sweet Blend,1970-01-01 00:00:00.000016420,823.7091,40.1473,0.4038,1.8118,4.1989,8.2978,0.5291,...,5.9105,7.2881,7.2419,5.5352,2.5027,0.2565,0.7993,0.2351,1.0463,0.0000
7,WCS,Western Canadian Select,1970-01-01 00:00:00.000016537,928.1290,20.8369,3.5406,9.7279,58.1678,138.0822,0.0744,...,3.9517,2.8157,2.1353,1.5397,0.7648,0.1415,0.2707,0.0518,0.2779,0.9762
8,WH,Wabasca Heavy,1970-01-01 00:00:00.000016734,932.1056,20.1833,4.1021,8.6681,52.3206,141.1627,0.0904,...,2.7012,2.8669,3.1208,2.7387,1.3591,0.0860,0.2597,0.1241,0.4548,1.0079

     Ticker       date    Value
0       AHS 2018-11-01 -48.5695
1       AHS 2018-10-01 -31.8708
2       AHS 2018-09-01 -32.6978
3       AHS 2018-08-01 -21.8058
4       AHS 2018-07-01 -19.8540
...     ...        ...      ...
3026     WH 2001-05-01 -11.9757
3027     WH 2001-04-01 -11.6504
3028     WH 2001-03-01 -12.2358
3029     WH 2001-02-01 -13.4429
3030     WH 2001-01-01 -13.5306

[3031 rows x 3 columns]

specifications               Start (C API) End (C API)  \
crude         cut
HLS           AtRes1                   369          NA
              AtRes2                   509          NA
              Heavy.Naphtha1            95         149
              Heavy.Naphtha2           149         175
              Heavy.VGO1               509         550
...                                    ...         ...
thunder-horse Light.Naphtha             NA          95
              Light.VGO                369         509
              VacRes1                  550          NA
              VacRes2                  585          NA
              Whole.crude               NA          NA

specifications               Yield on crude (perc wt)  \
crude         cut
HLS           AtRes1                            41.35
              AtRes2                             20.4
              Heavy.Naphtha1                    10.15
              Heavy.Naphtha2                      4.5
              Heavy.VGO1                         4.85
...                                               ...
thunder-horse Light.Naphtha                      7.15
              Light.VGO                          21.4
              VacRes1                           18.75
              VacRes2                            15.1
              Whole.crude                         100

specifications               Yield on crude (perc vol)  \
crude         cut
HLS           AtRes1                             36.55
              AtRes2                              17.2
              Heavy.Naphtha1                      11.4
              Heavy.Naphtha2                       4.9
              Heavy.VGO1                           4.3
...                                                ...
thunder-horse Light.Naphtha                          9
              Light.VGO                           19.9
              VacRes1                            15.55
              VacRes2                             12.3
              Whole.crude                          100

specifications               Density at 15C (kg/litre)  \
crude         cut
HLS           AtRes1                            0.9551
              AtRes2                            0.9987
              Heavy.Naphtha1                    0.7515
              Heavy.Naphtha2                    0.7722
              Heavy.VGO1                        0.9461
...                                                ...
thunder-horse Light.Naphtha                     0.6765
              Light.VGO                         0.9181
              VacRes1                           1.0316
              VacRes2                           1.0474
              Whole.crude                       0.8572

specifications               Total Sulphur (perc wt)  \
crude         cut
HLS           AtRes1                           0.979
              AtRes2                            1.36
              Heavy.Naphtha1                   0.007
              Heavy.Naphtha2                   0.019
              Heavy.VGO1                       0.885
...                                              ...
thunder-horse Light.Naphtha                       NA
              Light.VGO                        0.956
              VacRes1                           2.23
              VacRes2                            2.4
              Whole.crude                      0.812

specifications               Mercaptan Sulphur (ppm wt)  \
crude         cut
HLS           AtRes1                                 NA
              AtRes2                                 NA
              Heavy.Naphtha1                          7
              Heavy.Naphtha2                          8
              Heavy.VGO1                             NA
...                                                 ...
thunder-horse Light.Naphtha                           2
              Light.VGO                              NA
              VacRes1                                NA
              VacRes2                                NA
              Whole.crude                             4

specifications               Total Nitrogen (ppm wt) Basic Nitrogen (ppm wt)  \
crude         cut
HLS           AtRes1                            3000                     797
              AtRes2                            5000                    1311
              Heavy.Naphtha1                     0.1                      NA
              Heavy.Naphtha2                     0.2                      NA
              Heavy.VGO1                        2500                     640
...                                              ...                     ...
thunder-horse Light.Naphtha                        0                      NA
              Light.VGO                         1200                     320
              VacRes1                           5900                    1582
              VacRes2                           6500                    1768
              Whole.crude                       1500                     409

specifications               Acidity (mgKOH/g)  ... Freeze Point (C)  \
crude         cut                               ...
HLS           AtRes1                      0.32  ...               NA
              AtRes2                      0.21  ...               NA
              Heavy.Naphtha1             0.035  ...               NA
              Heavy.Naphtha2             0.051  ...               NA
              Heavy.VGO1                  0.39  ...               NA
...                                        ...  ...              ...
thunder-horse Light.Naphtha              0.034  ...               NA
              Light.VGO                   0.05  ...               NA
              VacRes1                     0.05  ...               NA
              VacRes2                     0.05  ...               NA
              Whole.crude                 0.05  ...               NA

specifications               Cetane Index ASTM D4737-90  \
crude         cut
HLS           AtRes1                                 NA
              AtRes2                                 NA
              Heavy.Naphtha1                         NA
              Heavy.Naphtha2                         NA
              Heavy.VGO1                             NA
...                                                 ...
thunder-horse Light.Naphtha                          NA
              Light.VGO                              NA
              VacRes1                                NA
              VacRes2                                NA
              Whole.crude                            NA

specifications               Refractive index at 70C Aniline Point (C)  \
crude         cut
HLS           AtRes1                              NA                NA
              AtRes2                              NA                NA
              Heavy.Naphtha1                      NA                NA
              Heavy.Naphtha2                      NA                NA
              Heavy.VGO1                      1.5078              91.4
...                                              ...               ...
thunder-horse Light.Naphtha                       NA                NA
              Light.VGO                       1.4893              83.3
              VacRes1                             NA                NA
              VacRes2                             NA                NA
              Whole.crude                         NA                NA

specifications               Wax (percwt) Carbon Residue (percwt)  \
crude         cut
HLS           AtRes1                    7                    7.28
              AtRes2                  7.6                    14.7
              Heavy.Naphtha1           NA                      NA
              Heavy.Naphtha2           NA                      NA
              Heavy.VGO1              7.6                    1.34
...                                   ...                     ...
thunder-horse Light.Naphtha            NA                      NA
              Light.VGO              10.8                    0.08
              VacRes1                   6                    22.5
              VacRes2                   5                      27
              Whole.crude               5                     4.3

specifications               Asphaltenes (percwt) Vanadium (ppm wt)  \
crude         cut
HLS           AtRes1                          1.8                15
              AtRes2                          3.6                30
              Heavy.Naphtha1                   NA                NA
              Heavy.Naphtha2                   NA                NA
              Heavy.VGO1                       NA                NA
...                                           ...               ...
thunder-horse Light.Naphtha                    NA                NA
              Light.VGO                        NA                NA
              VacRes1                         8.7                64
              VacRes2                        10.5                79
              Whole.crude                     1.7                12

specifications               Nickel (ppm wt) Iron (ppm wt)
crude         cut
HLS           AtRes1                      21             7
              AtRes2                      43            15
              Heavy.Naphtha1              NA            NA
              Heavy.Naphtha2              NA            NA
              Heavy.VGO1                  NA            NA
...                                      ...           ...
thunder-horse Light.Naphtha               NA            NA
              Light.VGO                   NA            NA
              VacRes1                     71            16
              VacRes2                     87            19
              Whole.crude                 13             3

[532 rows x 38 columns]

Error appending Liza

specifications                             Cut volume, % API Gravity,  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F       4.81416   115.881708
              Diesel.480...650F                12.459847    35.847692
              Hvy.Naphtha.165...330F           35.977753    54.530406
              Kerosene.330...480F              17.020786    44.391709
              Lt..Naphtha.C5...165F            17.450435    84.832253
...                                                  ...          ...
Terra-Nova    Kerosene.330...480F               14.09326    43.627471
              Lt..Naphtha.C5...165F             5.725588    82.331472
              Vacuum.Gas.Oil.650...1000F       29.489688    24.897788
              Vacuum.Residue.1000F.            16.429242    12.342836
              Whole.crude                            100    34.203255

specifications                             Specific Gravity (60/60F),  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F                   0.571991
              Diesel.480...650F                              0.845545
              Hvy.Naphtha.165...330F                         0.760628
              Kerosene.330...480F                            0.804472
              Lt..Naphtha.C5...165F                          0.654086
...                                                               ...
Terra-Nova    Kerosene.330...480F                            0.807983
              Lt..Naphtha.C5...165F                          0.661736
              Vacuum.Gas.Oil.650...1000F                     0.904744
              Vacuum.Residue.1000F.                          0.983713
              Whole.crude                                    0.853936

specifications                             Carbon, wt % Hydrogen, wt %  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F     82.58141       17.41859
              Diesel.480...650F               86.305343      13.514693
              Hvy.Naphtha.165...330F          86.077352      13.922648
              Kerosene.330...480F             85.988453      14.002029
              Lt..Naphtha.C5...165F           83.747846      16.252154
...                                                 ...            ...
Terra-Nova    Kerosene.330...480F             85.947432       14.01639
              Lt..Naphtha.C5...165F           83.845417      16.154583
              Vacuum.Gas.Oil.650...1000F      86.350228      12.846826
              Vacuum.Residue.1000F.           86.065722      12.123259
              Whole.crude                     86.009965      13.347833

specifications                             Pour point, F  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F            NA
              Diesel.480...650F                13.198792
              Hvy.Naphtha.165...330F         -122.488275
              Kerosene.330...480F             -60.584969
              Lt..Naphtha.C5...165F                   NA
...                                                  ...
Terra-Nova    Kerosene.330...480F             -60.299137
              Lt..Naphtha.C5...165F                   NA
              Vacuum.Gas.Oil.650...1000F      104.889591
              Vacuum.Residue.1000F.           113.179154
              Whole.crude                           50.9

specifications                             Neutralization number (TAN), MG/GM  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F                           0.000475
              Diesel.480...650F                                      0.035312
              Hvy.Naphtha.165...330F                                 0.004903
              Kerosene.330...480F                                    0.039625
              Lt..Naphtha.C5...165F                                  0.000747
...                                                                       ...
Terra-Nova    Kerosene.330...480F                                    0.011235
              Lt..Naphtha.C5...165F                                  0.000415
              Vacuum.Gas.Oil.650...1000F                             0.044636
              Vacuum.Residue.1000F.                                  0.037419
              Whole.crude                                            0.026597

specifications                             Sulfur, wt%  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F     0.00006
              Diesel.480...650F               0.175542
              Hvy.Naphtha.165...330F          0.001128
              Kerosene.330...480F             0.009964
              Lt..Naphtha.C5...165F           0.000418
...                                                ...
Terra-Nova    Kerosene.330...480F             0.032975
              Lt..Naphtha.C5...165F           0.000016
              Vacuum.Gas.Oil.650...1000F      0.692418
              Vacuum.Residue.1000F.           1.388684
              Whole.crude                      0.52495

specifications                             Viscosity at 20C/68F, cSt  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F                  0.401409
              Diesel.480...650F                             5.937461
              Hvy.Naphtha.165...330F                        0.741625
              Kerosene.330...480F                           1.709791
              Lt..Naphtha.C5...165F                         0.485089
...                                                              ...
Terra-Nova    Kerosene.330...480F                           1.753657
              Lt..Naphtha.C5...165F                         0.566065
              Vacuum.Gas.Oil.650...1000F                  130.289405
              Vacuum.Residue.1000F.                   1568601.251069
              Whole.crude                                  14.080414

specifications                             Viscosity at 40C/104F, cSt  ...  \
crude         cut                                                      ...
Aasgard-Blend Butane.and.Lighter.IBP...60F                   0.345916  ...
              Diesel.480...650F                              3.644796  ...
              Hvy.Naphtha.165...330F                         0.602309  ...
              Kerosene.330...480F                            1.275375  ...
              Lt..Naphtha.C5...165F                          0.407683  ...
...                                                               ...  ...
Terra-Nova    Kerosene.330...480F                            1.305433  ...
              Lt..Naphtha.C5...165F                          0.468952  ...
              Vacuum.Gas.Oil.650...1000F                    44.084266  ...
              Vacuum.Residue.1000F.                      84362.154628  ...
              Whole.crude                                    6.322047  ...

specifications                               95 vol%, F        EP, F  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F           NA           NA
              Diesel.480...650F              638.976132    648.88061
              Hvy.Naphtha.165...330F         317.794728   328.742787
              Kerosene.330...480F            470.742513   479.069164
              Lt..Naphtha.C5...165F          161.522997     164.6523
...                                                 ...          ...
Terra-Nova    Kerosene.330...480F            472.743558    479.27452
              Lt..Naphtha.C5...165F          161.703846   164.670385
              Vacuum.Gas.Oil.650...1000F     977.761662   997.728147
              Vacuum.Residue.1000F.         1425.178451  1499.386225
              Whole.crude                   1239.018498  1449.231939

specifications                             Freeze point, F Smoke point, mm  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F              NA              NA
              Diesel.480...650F                   25.17083       15.384979
              Hvy.Naphtha.165...330F           -110.732019        27.25343
              Kerosene.330...480F               -49.127077       21.189509
              Lt..Naphtha.C5...165F                     NA              NA
...                                                    ...             ...
Terra-Nova    Kerosene.330...480F               -47.950559       19.429122
              Lt..Naphtha.C5...165F                     NA              NA
              Vacuum.Gas.Oil.650...1000F                NA              NA
              Vacuum.Residue.1000F.                     NA              NA
              Whole.crude                               NA              NA

specifications                             Naphthalenes (D1840), vol%  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F                         NA
              Diesel.480...650F                              8.412588
              Hvy.Naphtha.165...330F                               NA
              Kerosene.330...480F                            2.053698
              Lt..Naphtha.C5...165F                                NA
...                                                               ...
Terra-Nova    Kerosene.330...480F                             2.53771
              Lt..Naphtha.C5...165F                                NA
              Vacuum.Gas.Oil.650...1000F                           NA
              Vacuum.Residue.1000F.                                NA
              Whole.crude                                          NA

specifications                             Viscosity at 100C/212F, cSt  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F                    0.248832
              Diesel.480...650F                               1.408006
              Hvy.Naphtha.165...330F                          0.370452
              Kerosene.330...480F                             0.670708
              Lt..Naphtha.C5...165F                           0.281746
...                                                                ...
Terra-Nova    Kerosene.330...480F                              0.68476
              Lt..Naphtha.C5...165F                           0.310061
              Vacuum.Gas.Oil.650...1000F                      6.428495
              Vacuum.Residue.1000F.                         477.281616
              Whole.crude                                     1.578362

specifications                             Viscosity at 150C/302F, cSt  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F                    0.199008
              Diesel.480...650F                               0.855122
              Hvy.Naphtha.165...330F                          0.284508
              Kerosene.330...480F                             0.453902
              Lt..Naphtha.C5...165F                           0.223401
...                                                                ...
Terra-Nova    Kerosene.330...480F                             0.462913
              Lt..Naphtha.C5...165F                            0.24377
              Vacuum.Gas.Oil.650...1000F                      2.696973
              Vacuum.Residue.1000F.                          53.142689
              Whole.crude                                     0.826525

specifications                             Cetane Index 1990 (D4737),  \
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F                         NA
              Diesel.480...650F                             56.254173
              Hvy.Naphtha.165...330F                         24.07368
              Kerosene.330...480F                           43.878859
              Lt..Naphtha.C5...165F                                NA
...                                                               ...
Terra-Nova    Kerosene.330...480F                           44.042573
              Lt..Naphtha.C5...165F                                NA
              Vacuum.Gas.Oil.650...1000F                           NA
              Vacuum.Residue.1000F.                                NA
              Whole.crude                                          NA

specifications                             Cloud point, F Aniline pt, F
crude         cut
Aasgard-Blend Butane.and.Lighter.IBP...60F             NA            NA
              Diesel.480...650F                  18.81726    165.771338
              Hvy.Naphtha.165...330F          -118.091693            NA
              Kerosene.330...480F              -55.723555    136.476246
              Lt..Naphtha.C5...165F                    NA            NA
...                                                   ...           ...
Terra-Nova    Kerosene.330...480F              -54.640105    136.352301
              Lt..Naphtha.C5...165F                    NA            NA
              Vacuum.Gas.Oil.650...1000F               NA    191.363169
              Vacuum.Residue.1000F.                    NA            NA
              Whole.crude                              NA            NA

[224 rows x 46 columns]

,Crude,Country,API,Sulphur,TAN,SweetSour,LightMedHeavy,Benchmark,Notes
0,Alaskan North Slope,USA,33.0000,0.9100,0.2400,Sour,Light,no,Others
1,Algerian Condensate,Algeria,68.6000,0.0000,0.0100,Sweet,Light,no,Others
2,Alvheim Blend,Norway,33.9000,0.1800,0.3600,Sweet,Light,no,Others
3,Azeri (Ceyhan),Azerbaijan,38.2000,0.1700,0.5000,Sweet,Light,no,Others
4,Azeri Light (Supsa),Azerbaijan,35.3000,0.1500,0.5000,Sweet,Light,no,Others
5,Basrah Heavy,Iraq,23.7000,4.1200,0.3000,Sour,Medium,no,Others
6,Basrah Light,Iraq,31.4000,2.6000,0.1100,Sour,Light,no,Others
7,Basrah Medium,Iraq,28.0000,3.6700,0.2100,Sour,Medium,no,Others
8,Brent,UK,38.6000,0.3900,0.0500,Sweet,Light,yes,Benchmark
9,Clair,UK,23.5000,0.4600,1.0700,Sweet,Medium,no,Others
10,Clov,Angola,32.6000,0.2400,0.5000,Sweet,Light,no,Others
11,Cossack,Australia,48.8000,0.0300,0.0400,Sweet,Light,no,Others
12,Culzean,UK,49.0000,0.0100,0.0300,Sweet,Light,no,Others
13,Dalia,Angola,23.5000,0.5100,1.5300,Sour,Medium,no,Others
14,Ekofisk,Norway,38.8000,0.2000,0.1200,Sweet,Light,no,Others
15,Forties,UK,40.6000,0.6500,0.1000,Sour,Light,no,Others
16,Galeota,Trinidad & Tobago,36.3000,0.2300,0.3600,Sweet,Light,no,Others
17,Girassol,Angola,29.8000,0.3200,0.4000,Sweet,Medium,no,Others
18,Grane,Norway,30.7000,0.5700,0.7500,Sour,Medium,no,Others
19,Heavy Louisiana Sweet,USA,35.6000,0.4800,0.3000,Sweet,Light,no,Others
20,Hungo,Angola,28.8000,0.6500,0.4500,Sour,Medium,no,Others
21,Johan Sverdrup,Norway,28.6000,0.7700,0.2900,Sour,Medium,no,Others
22,Kirkuk,Iraq,34.2000,2.2400,0.0800,Sour,Light,no,Others
23,Kissanje,Angola,29.5000,0.3700,0.5200,Sweet,Medium,no,Others
24,Mars,USA,29.4000,1.8700,0.4100,Sour,Medium,yes,Benchmark
25,Mondo,Angola,27.0000,0.4600,1.0400,Sweet,Medium,no,Others
26,Murban,Abu Dhabi,40.3000,0.7600,0.0400,Sour,Light,no,Others
27,Northwest Shelf Condensate,Australia,63.0000,0.0000,0.0200,Sweet,Light,no,Others
28,Oman Export Blend,Oman,33.2000,1.2900,0.5800,Sour,Light,yes,Benchmark
29,Pazflor,Angola,24.2000,0.4100,1.5400,Sweet,Medium,no,Others
30,Plutonio,Angola,32.5000,0.3800,0.1800,Sweet,Light,no,Others
31,Poseidon,USA,29.7000,1.8400,0.6100,Sour,Medium,no,Others
32,Saturno Blend,Angola,26.5000,0.8100,0.5200,Sour,Medium,no,Others
33,Saxi-Batuque Blend,Angola,35.6000,0.2100,0.5300,Sweet,Light,no,Others
34,Schiehallion,UK,24.9000,0.4400,0.3400,Sweet,Medium,no,Others
35,Skarv,Norway,44.8000,0.0200,0.1800,Sweet,Light,no,Others
36,Southern Green Canyon,USA,28.0000,2.2400,0.0600,Sour,Medium,no,Others
37,Tangguh Condensate,Indonesia,45.6000,0.0300,0.0700,Sweet,Light,no,Others
38,Thunder Horse,USA,33.5000,0.8100,0.0500,Sour,Light,no,Others
39,Access Western Blend,Canada,21.7755,3.8900,1.7029,Sour,Heavy,no,Canada
40,Bow River North,Canada,21.3370,2.9093,0.8817,Sour,Heavy,no,Canada
41,Christina Dilbit Blend,Canada,21.6793,3.8504,1.5869,Sour,Heavy,no,Canada
42,Cold Lake,Canada,21.1497,3.7587,1.0840,Sour,Heavy,no,Canada
43,Lloyd Blend,Canada,21.0000,3.5063,0.8616,Sour,Heavy,no,Canada
44,Lloyd Kerrobert,Canada,20.7377,3.1279,0.9983,Sour,Heavy,no,Canada
45,Mixed Sweet Blend,Canada,40.1473,0.4038,0.0000,Sweet,Light,no,Canada
46,Western Canadian Select,Canada,20.8369,3.5406,0.9762,Sour,Heavy,no,Canada
47,Wabasca Heavy,Canada,20.1833,4.1021,1.0079,Sour,Heavy,no,Canada
48,Tapis,Malaysia,42.7000,0.0440,0.2150,Sweet,Light,yes,Benchmark
49,Maya,Mexico,22.0000,3.3000,0.3000,Sour,Heavy,yes,Benchmark
50,Light Louisiana Sweet,US,38.5000,0.4000,0.2500,Sweet,Light,yes,Benchmark
51,West Texas Intermediate,US,40.6000,0.2200,0.1000,Sweet,Light,yes,Benchmark

series  date
ALI01   2014-03-27      NaN
        2014-03-28      NaN
        2014-03-31      NaN
        2014-04-01      NaN
        2014-04-02      NaN
                      ...
WCW12   2022-06-02   -16.15
        2022-06-03   -16.15
        2022-06-06   -16.15
        2022-06-07   -16.15
        2022-06-08   -16.15
Name: value, Length: 710651, dtype: float64

,CL01,CL02,CL03,CL04,CL05,CL06,CL07,CL08,CL09,CL10,...,LSW03,LSW04,LSW05,LSW06,LSW07,LSW08,LSW09,LSW10,LSW11,LSW12
date,,,,,,,,,,,,,,,,,,,,,
2004-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-05,33.78,33.51,33.01,32.41,31.82,31.26,30.76,30.32,29.94,29.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-06,33.70,33.48,33.04,32.45,31.88,31.32,30.82,30.38,30.00,29.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-07,33.62,33.40,32.97,32.42,31.85,31.28,30.78,30.34,29.97,29.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-08,33.98,33.73,33.28,32.73,32.17,31.61,31.11,30.67,30.30,30.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-02,116.87,114.30,111.58,108.85,106.42,104.21,102.20,100.38,98.73,97.25,...,-2.0,NaN,-2.25,NaN,-4.00,NaN,-4.25,NaN,-4.50,NaN
2022-06-03,118.87,116.23,113.47,110.70,108.21,105.91,103.79,101.88,100.15,98.58,...,-2.0,NaN,-2.25,NaN,-4.00,NaN,-4.25,NaN,-4.50,NaN
2022-06-06,118.50,116.06,113.35,110.67,108.24,105.92,103.79,101.85,100.09,98.49,...,-2.0,NaN,-2.25,NaN,-4.00,NaN,-4.25,NaN,-4.50,NaN
2022-06-07,119.41,117.10,114.54,112.04,109.74,107.58,105.56,103.69,101.98,100.41,...,-1.9,NaN,-2.55,NaN,-4.25,NaN,-4.50,NaN,-4.75,NaN
2022-06-08,122.11,119.78,117.15,114.57,112.18,109.95,107.86,105.94,104.18,102.55,...,-1.9,NaN,-2.55,NaN,-4.25,NaN,-4.50,NaN,-4.75,NaN

series  date
CL0117  2015-12-28    43.3900
        2015-12-29    44.2300
        2015-12-30    43.2900
        2015-12-31    44.2100
        2016-01-01    44.2100
                       ...
RB1222  2018-12-21     1.3922
        2018-12-24     1.3225
        2018-12-25     1.3225
        2018-12-26     1.3969
        2018-12-27     1.3603
Name: value, Length: 237150, dtype: float64

            series       date  value
0     CrudeCushing 2022-06-10  22615
1     CrudeCushing 2022-06-03  23441
2     CrudeCushing 2022-05-27  25034
3     CrudeCushing 2022-05-20  24778
4     CrudeCushing 2022-05-13  25839
...            ...        ...    ...
4236     NGLower48 2010-01-29   2406
4237     NGLower48 2010-01-22   2521
4238     NGLower48 2010-01-15   2607
4239     NGLower48 2010-01-08   2850
4240     NGLower48 2010-01-01   3117

[4241 rows x 3 columns]

      series       date       value product
0         US 2011-03-31  455656.000   crude
1         US 2011-09-30  464601.000   crude
2         US 2012-03-31  477517.000   crude
3         US 2012-09-30  491379.000   crude
4         US 2013-03-31  494710.000   crude
..       ...        ...         ...     ...
286  lower48 2013-05-01    4597.394      ng
287  lower48 2013-04-01    4573.905      ng
288  lower48 2013-03-01    4585.044      ng
289  lower48 2013-02-01    4567.686      ng
290  lower48 2013-01-01    4558.183      ng

[291 rows x 4 columns]

,cmdty,tick_prefix,Last_Trade,First_Notice,First_Delivery,Last_Delivery,Year,Month,Month_Letter
0,cmeng,NG,2003-01-29,2003-01-30,2003-02-01,2003-02-28,2003,2,G
1,cmeng,NG,2003-02-26,2003-02-27,2003-03-01,2003-03-31,2003,3,H
2,cmeng,NG,2003-03-27,2003-03-28,2003-04-01,2003-04-30,2003,4,J
3,cmeng,NG,2003-04-28,2003-04-29,2003-05-01,2003-05-31,2003,5,K
4,cmeng,NG,2003-05-28,2003-05-29,2003-06-01,2003-06-30,2003,6,M
...,...,...,...,...,...,...,...,...,...
4285,cmesoybean,S,2024-08-14,2024-07-31,2024-08-01,2024-08-16,2024,8,Q
4286,cmesoybean,S,2024-09-13,2024-08-30,2024-09-03,2024-09-17,2024,9,U
4287,cmesoybean,S,2024-11-14,2024-10-31,2024-11-01,2024-11-18,2024,11,X
4288,cmesoybean,S,2025-07-14,2025-06-30,2025-07-01,2025-07-16,2025,7,N
4289,cmesoybean,S,2025-11-14,2025-10-31,2025-11-03,2025-11-18,2025,11,X

,date,WTI_CMA01,WTI_CMA02,WCS_CUS,WCS_HOU,WCS_HDY,CL_EDM,MSW_EDM,Mars_CLO01,Mars_CLO02,LLS_SJA,SYN_EDM,C5_EDM,DUB_EFS,WTI_MEH,WTI_MID
0,2017-01-03,53.51,54.36,-9.15,-8.21,-15.70,-0.49,-3.30,-2.88,-3.05,1.27,0.05,0.35,-1.95,1.62,0.92
1,2017-01-04,54.44,55.29,-8.79,-7.92,-15.27,-0.54,-2.87,-2.64,-2.74,1.51,0.58,0.48,-1.68,1.68,1.01
2,2017-01-05,54.89,55.73,-8.63,-7.63,-15.03,-0.54,-2.96,-2.58,-2.73,1.59,0.84,0.87,-1.61,1.57,0.89
3,2017-01-06,55.08,55.92,-8.73,-7.73,-14.33,-0.57,-2.91,-2.76,-2.88,1.49,0.72,0.87,-1.94,1.47,0.67
4,2017-01-09,53.09,53.98,-8.48,-7.48,-13.68,-0.48,-2.83,-2.45,-2.53,1.85,0.77,0.65,-1.68,1.70,0.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,2022-06-10,117.15,114.55,-10.17,-9.32,-18.72,-0.53,-1.79,-6.59,-5.39,1.38,7.58,-3.92,-11.33,1.08,0.83
1293,2022-06-13,117.22,114.49,-10.64,-10.01,-18.94,-0.50,-2.01,-8.24,-6.64,1.06,7.36,-4.14,-11.70,0.84,0.54
1294,2022-06-14,115.29,112.68,-10.38,-9.74,-18.88,-0.51,-3.83,-7.88,-6.28,0.72,7.42,-5.58,-12.25,0.84,0.52
1295,2022-06-15,112.27,110.04,-9.98,-9.37,-18.51,-0.53,-3.46,-6.84,-5.39,0.94,7.79,-5.21,-12.31,1.29,0.99
1296,2022-06-16,114.35,111.94,-10.33,-9.64,-18.98,-0.51,-3.93,-7.01,-5.33,0.52,7.32,-5.68,-11.93,0.84,0.57

       key      value
0    nymex 2009-09-07
1    nymex 2009-11-26
2    nymex 2009-12-25
3    nymex 2010-01-01
4    nymex 2010-01-18
..     ...        ...
189    ice 2024-12-25
190    ice 2025-01-01
191    ice 2025-04-18
192    ice 2025-12-25
193    ice 2015-04-03

[194 rows x 2 columns]

,Planet,Mass (1024kg),Diameter (km),Density (kg/m3),Gravity (m/s2),Escape Velocity (km/s),Rotation Period (hours),Length of Day (hours),Distance from Sun (106 km),Perihelion (106 km),Aphelion (106 km),Orbital Period (days),Orbital Velocity (km/s),Orbital Inclination (degrees),Orbital Eccentricity,Obliquity to Orbit (degrees),Mean Temperature (C),Number of Moons
0,Mercury,0.330,4879,5429,3.7,4.3,1407.6,4222.6,57.900,46.000,69.800,88.0,47.4,7.0,0.206,0.034,167,0
1,Venus,4.870,12104,5243,8.9,10.4,-5832.5,2802.0,108.200,107.500,108.900,224.7,35.0,3.4,0.007,177.400,464,0
2,Earth,5.970,12756,5514,9.8,11.2,23.9,24.0,149.600,147.100,152.100,365.2,29.8,0.0,0.017,23.400,15,1
3,Moon,0.073,3475,3340,1.6,2.4,655.7,708.7,0.384,0.363,0.406,27.3,1.0,5.1,0.055,6.700,-20,0
4,Mars,0.642,6792,3934,3.7,5.0,24.6,24.7,228.000,206.700,249.300,687.0,24.1,1.8,0.094,25.200,-65,2
5,Jupiter,1898.000,142984,1326,23.1,59.5,9.9,9.9,778.500,740.600,816.400,4331.0,13.1,1.3,0.049,3.100,-110,79
6,Saturn,568.000,120536,687,9.0,35.5,10.7,10.7,1432.000,1357.600,1506.500,10747.0,9.7,2.5,0.052,26.700,-140,82
7,Uranus,86.800,51118,1270,8.7,21.3,-17.2,17.2,2867.000,2732.700,3001.400,30589.0,6.8,0.8,0.047,97.800,-195,27
8,Neptune,102.000,49528,1638,11.0,23.5,16.1,16.1,4515.000,4471.100,4558.900,59800.0,5.4,1.8,0.010,28.300,-200,14
9,Pluto,0.013,2376,1850,0.7,1.3,-153.3,153.3,5906.400,4436.800,7375.900,90560.0,4.7,17.2,0.244,122.500,-225,5

             info  LightSweet  HeavySour
0           price         -50        -30
1  processing_fee          -1         -4

      product  prices  max_prod  LightSweet_yield  HeavySour_yield
0       mogas      70     50000              0.65              0.4
1  distillate      70     40000              0.20              0.2
2          fo      30     20000              0.10              0.3
3       resid      20     10000              0.05              0.1

,tick_eia,tick_r,product,category,sd_category
0,PET.WDIUPUS2.W,eia.mdist.demand,product,demand,dist
1,PET.WGFUPUS2.W,eia.mogas.demand,product,demand,mogas
2,PET.WKJUPUS2.W,eia.jet.demand,product,demand,jet
3,PET.WREUPUS2.W,eia.resid.demand,product,demand,resid
4,PET.WPRUP_NUS_2.W,eia.propane.propylene.demand,product,demand,propanepropylene
...,...,...,...,...,...
192,NG.N9070US2.M,eia.ng.production,ng,production,ng
193,NG.N9130US2.M,eia.ng.exports,ng,exports,ng
194,NG.N9100US2.M,eia.ng.imports,ng,imports,ng
195,NG.N3060US2.M,eia.ng.consumption,ng,demand,ng
196,NG.NW2_EPG0_SWO_R48_BCF.W,eia.ng.storage,ng,stocks,ng

         market  flowmonth trade_cycle_end
0        canada 2016-12-01      2016-11-17
1        canada 2017-01-01      2016-12-14
2        canada 2017-02-01      2017-01-18
3        canada 2017-03-01      2017-02-15
4        canada 2017-04-01      2017-03-16
..          ...        ...             ...
265  usdomestic 2025-09-01      2025-08-25
266  usdomestic 2025-10-01      2025-09-25
267  usdomestic 2025-11-01      2025-10-24
268  usdomestic 2025-12-01      2025-11-25
269  usdomestic 2026-01-01      2025-12-24

[270 rows x 3 columns]

          date  CL22H   HO22F   HO22H   LT22H
0   2019-01-02  51.93  1.8420  1.8433 -0.0450
1   2019-01-03  52.35  1.8616  1.8629 -0.0450
2   2019-01-04  52.79  1.8705  1.8718 -0.0450
3   2019-01-07  52.80  1.8759  1.8772 -0.0450
4   2019-01-08  53.85  1.9150  1.9163 -0.0450
..         ...    ...     ...     ...     ...
752 2021-12-27  75.18  2.3535  2.3259 -0.0535
753 2021-12-28  75.60  2.3714  2.3421 -0.0535
754 2021-12-29  76.18  2.3778  2.3488 -0.0535
755 2021-12-30  76.61  2.3959  2.3675 -0.0535
756 2021-12-31  74.88  2.3301  2.3084 -0.0535

[757 rows x 5 columns]

{'times': array([ 0.        ,  0.08333333,  0.16666667,  0.25      ,  0.33333333,
         0.41666667,  0.5       ,  0.58333333,  0.66666667,  0.75      ,
         0.83333333,  0.91666667,  1.        ,  1.08333333,  1.16666667,
         1.25      ,  1.33333333,  1.41666667,  1.5       ,  1.58333333,
         1.66666667,  1.75      ,  1.83333333,  1.91666667,  2.        ,
         2.08333333,  2.16666667,  2.25      ,  2.33333333,  2.41666667,
         2.5       ,  2.58333333,  2.66666667,  2.75      ,  2.83333333,
         2.91666667,  3.        ,  3.08333333,  3.16666667,  3.25      ,
         3.33333333,  3.41666667,  3.5       ,  3.58333333,  3.66666667,
         3.75      ,  3.83333333,  3.91666667,  4.        ,  4.08333333,
         4.16666667,  4.25      ,  4.33333333,  4.41666667,  4.5       ,
         4.58333333,  4.66666667,  4.75      ,  4.83333333,  4.91666667,
         5.        ,  5.08333333,  5.16666667,  5.25      ,  5.33333333,
         5.41666667,  5.5       ,  5.58333333,  5.66666667,  5.75      ,
         5.83333333,  5.91666667,  6.        ,  6.08333333,  6.16666667,
         6.25      ,  6.33333333,  6.41666667,  6.5       ,  6.58333333,
         6.66666667,  6.75      ,  6.83333333,  6.91666667,  7.        ,
         7.08333333,  7.16666667,  7.25      ,  7.33333333,  7.41666667,
         7.5       ,  7.58333333,  7.66666667,  7.75      ,  7.83333333,
         7.91666667,  8.        ,  8.08333333,  8.16666667,  8.25      ,
         8.33333333,  8.41666667,  8.5       ,  8.58333333,  8.66666667,
         8.75      ,  8.83333333,  8.91666667,  9.        ,  9.08333333,
         9.16666667,  9.25      ,  9.33333333,  9.41666667,  9.5       ,
         9.58333333,  9.66666667,  9.75      ,  9.83333333,  9.91666667,
        10.        , 10.08333333, 10.16666667, 10.25      , 10.33333333,
        10.41666667, 10.5       , 10.58333333, 10.66666667, 10.75      ,
        10.83333333, 10.91666667, 11.        , 11.08333333, 11.16666667,
        11.25      , 11.33333333, 11.41666667, 11.5       , 11.58333333,
        11.66666667, 11.75      , 11.83333333, 11.91666667, 12.        ,
        12.08333333, 12.16666667, 12.25      , 12.33333333, 12.41666667,
        12.5       , 12.58333333, 12.66666667, 12.75      , 12.83333333,
        12.91666667, 13.        , 13.08333333, 13.16666667, 13.25      ,
        13.33333333, 13.41666667, 13.5       , 13.58333333, 13.66666667,
        13.75      , 13.83333333, 13.91666667, 14.        , 14.08333333,
        14.16666667, 14.25      , 14.33333333, 14.41666667, 14.5       ,
        14.58333333, 14.66666667, 14.75      , 14.83333333, 14.91666667,
        15.        , 15.08333333, 15.16666667, 15.25      , 15.33333333,
        15.41666667, 15.5       , 15.58333333, 15.66666667, 15.75      ,
        15.83333333, 15.91666667, 16.        , 16.08333333, 16.16666667,
        16.25      , 16.33333333, 16.41666667, 16.5       , 16.58333333,
        16.66666667, 16.75      , 16.83333333, 16.91666667, 17.        ,
        17.08333333, 17.16666667, 17.25      , 17.33333333, 17.41666667,
        17.5       , 17.58333333, 17.66666667, 17.75      , 17.83333333,
        17.91666667, 18.        , 18.08333333, 18.16666667, 18.25      ,
        18.33333333, 18.41666667, 18.5       , 18.58333333, 18.66666667,
        18.75      , 18.83333333, 18.91666667, 19.        , 19.08333333,
        19.16666667, 19.25      , 19.33333333, 19.41666667, 19.5       ,
        19.58333333, 19.66666667, 19.75      , 19.83333333, 19.91666667,
        20.        ]),
 'discounts': array([1.        , 0.99866551, 0.99697308, 0.99509812, 0.99308662,
        0.99098314, 0.98883223, 0.98659869, 0.98421165, 0.98170457,
        0.97904893, 0.97625191, 0.97341941, 0.9705774 , 0.96769572,
        0.96476369, 0.96177083, 0.95871904, 0.95561783, 0.95245505,
        0.9492394 , 0.94602044, 0.94280584, 0.93958851, 0.93640425,
        0.93324278, 0.9301118 , 0.92709105, 0.92416083, 0.9212425 ,
        0.91834639, 0.91548293, 0.91266254, 0.90989566, 0.90719271,
        0.90456412, 0.90202032, 0.8995473 , 0.89710849, 0.89470144,
        0.8923242 , 0.88997486, 0.88765147, 0.88535211, 0.88307484,
        0.88081773, 0.87857885, 0.87635627, 0.87414805, 0.87195227,
        0.86976699, 0.86759027, 0.86542019, 0.86325482, 0.86109222,
        0.85893046, 0.85676761, 0.85460173, 0.8524309 , 0.85025318,
        0.84806664, 0.84587595, 0.8436889 , 0.84150563, 0.83932621,
        0.83715074, 0.83497931, 0.83281201, 0.83064892, 0.82849014,
        0.82633575, 0.82418584, 0.82204049, 0.81989981, 0.81776388,
        0.81563278, 0.8135066 , 0.81138544, 0.80926938, 0.80715851,
        0.80505292, 0.8029527 , 0.80085794, 0.79876872, 0.79668514,
        0.79460508, 0.79252588, 0.79044774, 0.78837086, 0.78629546,
        0.78422175, 0.78214992, 0.7800802 , 0.77801279, 0.7759479 ,
        0.77388574, 0.77182651, 0.76977044, 0.76771771, 0.76566856,
        0.76362317, 0.76158177, 0.75954456, 0.75751175, 0.75548354,
        0.75346016, 0.7514418 , 0.74942868, 0.747421  , 0.74541898,
        0.74342282, 0.74143273, 0.73944892, 0.7374716 , 0.73550097,
        0.73353726, 0.73158066, 0.72963138, 0.72768964, 0.72575565,
        0.7238296 , 0.7219041 , 0.71996918, 0.71802544, 0.71607355,
        0.71411414, 0.71214789, 0.71017545, 0.70819748, 0.70621464,
        0.70422757, 0.70223695, 0.70024343, 0.69824767, 0.69625032,
        0.69425204, 0.69225349, 0.69025533, 0.68825821, 0.68626279,
        0.68426974, 0.6822797 , 0.68029334, 0.67831131, 0.67633427,
        0.67436287, 0.67239779, 0.67043967, 0.66848917, 0.66654694,
        0.66461366, 0.66268996, 0.66077652, 0.65887399, 0.65698303,
        0.65510429, 0.65323843, 0.65138611, 0.64954799, 0.64772473,
        0.64591697, 0.64412539, 0.64235064, 0.64059337, 0.63885424,
        0.63713392, 0.63543305, 0.6337523 , 0.63209233, 0.63045378,
        0.62883732, 0.62724362, 0.62567331, 0.62412707, 0.62260555,
        0.6211094 , 0.61963929, 0.61819587, 0.6167798 , 0.61539174,
        0.61403235, 0.61269216, 0.61135678, 0.61002605, 0.60869995,
        0.60737845, 0.60606153, 0.60474916, 0.60344131, 0.60213796,
        0.60083908, 0.59954464, 0.59825463, 0.596969  , 0.59568775,
        0.59441083, 0.59313823, 0.59186992, 0.59060587, 0.58934605,
        0.58809045, 0.58683903, 0.58559176, 0.58434863, 0.58310961,
        0.58187466, 0.58064376, 0.5794169 , 0.57819403, 0.57697514,
        0.5757602 , 0.57454918, 0.57334206, 0.5721388 , 0.57093939,
        0.5697438 , 0.568552  , 0.56736397, 0.56617967, 0.56499909,
        0.5638222 , 0.56264897, 0.56147937, 0.56031338, 0.55915097,
        0.55799212, 0.5568368 , 0.55568499, 0.55453665, 0.55339177,
        0.55225031, 0.55111225, 0.54997756, 0.54884623, 0.54771821,
        0.54659349, 0.54547204, 0.54435383, 0.54323884, 0.54212703,
        0.5410184 ]),
 'forwards': array([0.0160246 , 0.02035348, 0.02258918, 0.02428144, 0.02544442,
        0.02607404, 0.02713589, 0.02906865, 0.03060666, 0.03250559,
        0.03433147, 0.03486743, 0.03508664, 0.03568142, 0.03641416,
        0.03728392, 0.03813764, 0.03887981, 0.03978194, 0.04058253,
        0.0407624 , 0.04084562, 0.04102008, 0.04073703, 0.04058274,
        0.04032706, 0.03903609, 0.03798809, 0.03795372, 0.03778381,
        0.03747521, 0.03702622, 0.03643517, 0.03570043, 0.03482043,
        0.03379371, 0.03294493, 0.03257801, 0.0322408 , 0.03192661,
        0.03163572, 0.03136843, 0.031125  , 0.03090571, 0.03071084,
        0.03054065, 0.03039542, 0.03027541, 0.03018088, 0.0301121 ,
        0.03006933, 0.03005284, 0.0300629 , 0.03009976, 0.03016371,
        0.03025501, 0.03037394, 0.03052078, 0.03069582, 0.03089934,
        0.03103811, 0.03106666, 0.03109352, 0.03111911, 0.03114342,
        0.03116643, 0.03118813, 0.03120851, 0.03122756, 0.03124525,
        0.03126157, 0.03127651, 0.03129006, 0.0313022 , 0.03131292,
        0.0313222 , 0.03133002, 0.03133638, 0.03134125, 0.03134462,
        0.03134648, 0.03134681, 0.0313456 , 0.03134282, 0.03137167,
        0.03144089, 0.03150743, 0.0315711 , 0.03163187, 0.0316897 ,
        0.03174456, 0.03179643, 0.03184526, 0.03189103, 0.03193369,
        0.03197323, 0.0320096 , 0.03204276, 0.03207269, 0.03209934,
        0.03212269, 0.0321427 , 0.03215932, 0.03217253, 0.03218229,
        0.03218855, 0.03219129, 0.03219046, 0.03218604, 0.03217797,
        0.03216622, 0.03215076, 0.03213154, 0.03210852, 0.03208167,
        0.03205095, 0.03201631, 0.03197773, 0.03193515, 0.03188853,
        0.03196445, 0.03220673, 0.0324408 , 0.03266552, 0.03288079,
        0.03308651, 0.03328257, 0.03346887, 0.0336453 , 0.03381174,
        0.0339681 , 0.03411424, 0.03425005, 0.03437542, 0.03449022,
        0.03459433, 0.03468762, 0.03476996, 0.03484124, 0.0349013 ,
        0.03495003, 0.03498729, 0.03501295, 0.03502686, 0.03502889,
        0.03501891, 0.03499676, 0.03496232, 0.03491544, 0.03485597,
        0.03478378, 0.03469873, 0.03460066, 0.03448944, 0.03436493,
        0.03422698, 0.03407544, 0.03391019, 0.03373107, 0.03353795,
        0.03333069, 0.03310916, 0.0328732 , 0.0326227 , 0.03235753,
        0.03207754, 0.03178261, 0.03147263, 0.03114746, 0.03080698,
        0.03045109, 0.03007967, 0.02969262, 0.02928982, 0.02887118,
        0.02843661, 0.027986  , 0.02751929, 0.02703639, 0.02653722,
        0.02621974, 0.02618294, 0.02614863, 0.0261145 , 0.02608053,
        0.02604673, 0.02601311, 0.02597967, 0.02594641, 0.02591333,
        0.02588044, 0.02584773, 0.02581523, 0.02578291, 0.0257508 ,
        0.02571889, 0.02568718, 0.02565569, 0.0256244 , 0.02559333,
        0.02556248, 0.02553185, 0.02550144, 0.02547126, 0.02544132,
        0.02541161, 0.02538213, 0.0253529 , 0.02532391, 0.02529516,
        0.02526667, 0.02523843, 0.02521045, 0.02518274, 0.02515528,
        0.02512809, 0.02510118, 0.02507453, 0.02504817, 0.02502208,
        0.02499629, 0.02497077, 0.02494556, 0.02492063, 0.024896  ,
        0.02487168, 0.02484766, 0.02482395, 0.02480056, 0.02477748,
        0.02475471, 0.02473228, 0.02471017, 0.02468839, 0.02466694,
        0.02464583, 0.02462506, 0.02460464, 0.02458457, 0.02456485,
        0.02454548]),
 'zerorates': array([0.01617384, 0.0160246 , 0.01818904, 0.01965575, 0.02081218,
        0.02173863, 0.02246119, 0.02312901, 0.02387146, 0.02461982,
        0.0254084 , 0.02621958, 0.02694024, 0.02756688, 0.02814649,
        0.02869767, 0.02923431, 0.02975804, 0.0302648 , 0.0307657 ,
        0.03125654, 0.0317092 , 0.0321245 , 0.03251126, 0.032854  ,
        0.03316315, 0.03343869, 0.033646  , 0.03380107, 0.03394427,
        0.03407225, 0.03418202, 0.03427091, 0.03433649, 0.03437661,
        0.03438929, 0.03437274, 0.03433415, 0.03428794, 0.03423545,
        0.03417773, 0.03411573, 0.03405031, 0.03398228, 0.03391236,
        0.03384122, 0.03376947, 0.03369768, 0.03362638, 0.03355606,
        0.03348718, 0.03342017, 0.03335541, 0.03329329, 0.03323415,
        0.03317832, 0.03312612, 0.03307784, 0.03303375, 0.03299412,
        0.03295921, 0.03292772, 0.0328977 , 0.03286906, 0.03284172,
        0.03281559, 0.03279061, 0.03276669, 0.03274377, 0.0327218 ,
        0.03270071, 0.03268044, 0.03266094, 0.03264216, 0.03262405,
        0.03260657, 0.03258967, 0.03257331, 0.03255745, 0.03254206,
        0.03252709, 0.03251251, 0.0324983 , 0.03248441, 0.03247082,
        0.03245789, 0.03244606, 0.03243527, 0.03242545, 0.03241654,
        0.03240846, 0.03240117, 0.03239459, 0.03238869, 0.03238339,
        0.03237866, 0.03237443, 0.03237067, 0.03236733, 0.03236435,
        0.0323617 , 0.03235933, 0.03235721, 0.03235529, 0.03235353,
        0.0323519 , 0.03235036, 0.03234887, 0.03234741, 0.03234593,
        0.0323444 , 0.03234279, 0.03234108, 0.03233923, 0.0323372 ,
        0.03233498, 0.03233253, 0.03232983, 0.03232684, 0.03232355,
        0.03231993, 0.03231699, 0.03231609, 0.0323171 , 0.03231991,
        0.0323244 , 0.03233045, 0.03233794, 0.03234678, 0.03235684,
        0.03236804, 0.03238025, 0.03239339, 0.03240735, 0.03242203,
        0.03243735, 0.03245321, 0.03246952, 0.03248619, 0.03250313,
        0.03252026, 0.0325375 , 0.03255475, 0.03257194, 0.03258899,
        0.03260581, 0.03262234, 0.03263849, 0.0326542 , 0.03266937,
        0.03268395, 0.03269786, 0.03271102, 0.03272337, 0.03273484,
        0.03274536, 0.03275485, 0.03276326, 0.03277052, 0.03277656,
        0.03278132, 0.03278474, 0.03278674, 0.03278727, 0.03278626,
        0.03278367, 0.03277941, 0.03277344, 0.0327657 , 0.03275613,
        0.03274466, 0.03273125, 0.03271583, 0.03269836, 0.03267877,
        0.03265701, 0.03263303, 0.03260677, 0.03257819, 0.03254723,
        0.03251384, 0.03247907, 0.03244448, 0.03241007, 0.03237586,
        0.03234183, 0.03230798, 0.03227432, 0.03224084, 0.03220754,
        0.03217441, 0.03214146, 0.03210868, 0.03207607, 0.03204363,
        0.03201136, 0.03197925, 0.03194731, 0.03191554, 0.03188392,
        0.03185247, 0.03182118, 0.03179004, 0.03175906, 0.03172824,
        0.03169757, 0.03166706, 0.0316367 , 0.03160649, 0.03157643,
        0.03154652, 0.03151675, 0.03148714, 0.03145767, 0.03142835,
        0.03139917, 0.03137014, 0.03134125, 0.0313125 , 0.0312839 ,
        0.03125544, 0.03122711, 0.03119893, 0.03117089, 0.03114299,
        0.03111522, 0.0310876 , 0.03106011, 0.03103276, 0.03100554,
        0.03097846, 0.03095152, 0.03092471, 0.03089804, 0.0308715 ,
        0.0308451 , 0.03081883, 0.0307927 , 0.0307667 , 0.03074083,
        0.0307151 ]),
 'flatQuotes': False,
 'params': {'tradeDate': 19160,
  'settleDate': 19162,
  'dt': 0.0833333333333333,
  'interpWhat': 'discount',
  'interpHow': 'spline'},
 'table':                          date  zeroRates
 0   2022-06-19 00:00:00+00:00   0.016174
 1   2022-07-18 00:00:00+00:00   0.015923
 2   2022-08-16 00:00:00+00:00   0.018029
 3   2022-09-14 00:00:00+00:00   0.019473
 4   2022-10-13 00:00:00+00:00   0.020615
 ..                        ...        ...
 361 2052-01-25 00:00:00+00:00   0.028679
 362 2052-02-23 00:00:00+00:00   0.028671
 363 2052-03-25 00:00:00+00:00   0.028663
 364 2052-04-25 00:00:00+00:00   0.028655
 365 2052-05-27 00:00:00+00:00   0.028647

 [366 rows x 2 columns]}

{'times': array([ 0.        ,  0.08333333,  0.16666667,  0.25      ,  0.33333333,
         0.41666667,  0.5       ,  0.58333333,  0.66666667,  0.75      ,
         0.83333333,  0.91666667,  1.        ,  1.08333333,  1.16666667,
         1.25      ,  1.33333333,  1.41666667,  1.5       ,  1.58333333,
         1.66666667,  1.75      ,  1.83333333,  1.91666667,  2.        ,
         2.08333333,  2.16666667,  2.25      ,  2.33333333,  2.41666667,
         2.5       ,  2.58333333,  2.66666667,  2.75      ,  2.83333333,
         2.91666667,  3.        ,  3.08333333,  3.16666667,  3.25      ,
         3.33333333,  3.41666667,  3.5       ,  3.58333333,  3.66666667,
         3.75      ,  3.83333333,  3.91666667,  4.        ,  4.08333333,
         4.16666667,  4.25      ,  4.33333333,  4.41666667,  4.5       ,
         4.58333333,  4.66666667,  4.75      ,  4.83333333,  4.91666667,
         5.        ,  5.08333333,  5.16666667,  5.25      ,  5.33333333,
         5.41666667,  5.5       ,  5.58333333,  5.66666667,  5.75      ,
         5.83333333,  5.91666667,  6.        ,  6.08333333,  6.16666667,
         6.25      ,  6.33333333,  6.41666667,  6.5       ,  6.58333333,
         6.66666667,  6.75      ,  6.83333333,  6.91666667,  7.        ,
         7.08333333,  7.16666667,  7.25      ,  7.33333333,  7.41666667,
         7.5       ,  7.58333333,  7.66666667,  7.75      ,  7.83333333,
         7.91666667,  8.        ,  8.08333333,  8.16666667,  8.25      ,
         8.33333333,  8.41666667,  8.5       ,  8.58333333,  8.66666667,
         8.75      ,  8.83333333,  8.91666667,  9.        ,  9.08333333,
         9.16666667,  9.25      ,  9.33333333,  9.41666667,  9.5       ,
         9.58333333,  9.66666667,  9.75      ,  9.83333333,  9.91666667,
        10.        , 10.08333333, 10.16666667, 10.25      , 10.33333333,
        10.41666667, 10.5       , 10.58333333, 10.66666667, 10.75      ,
        10.83333333, 10.91666667, 11.        , 11.08333333, 11.16666667,
        11.25      , 11.33333333, 11.41666667, 11.5       , 11.58333333,
        11.66666667, 11.75      , 11.83333333, 11.91666667, 12.        ,
        12.08333333, 12.16666667, 12.25      , 12.33333333, 12.41666667,
        12.5       , 12.58333333, 12.66666667, 12.75      , 12.83333333,
        12.91666667, 13.        , 13.08333333, 13.16666667, 13.25      ,
        13.33333333, 13.41666667, 13.5       , 13.58333333, 13.66666667,
        13.75      , 13.83333333, 13.91666667, 14.        , 14.08333333,
        14.16666667, 14.25      , 14.33333333, 14.41666667, 14.5       ,
        14.58333333, 14.66666667, 14.75      , 14.83333333, 14.91666667,
        15.        , 15.08333333, 15.16666667, 15.25      , 15.33333333,
        15.41666667, 15.5       , 15.58333333, 15.66666667, 15.75      ,
        15.83333333, 15.91666667, 16.        , 16.08333333, 16.16666667,
        16.25      , 16.33333333, 16.41666667, 16.5       , 16.58333333,
        16.66666667, 16.75      , 16.83333333, 16.91666667, 17.        ,
        17.08333333, 17.16666667, 17.25      , 17.33333333, 17.41666667,
        17.5       , 17.58333333, 17.66666667, 17.75      , 17.83333333,
        17.91666667, 18.        , 18.08333333, 18.16666667, 18.25      ,
        18.33333333, 18.41666667, 18.5       , 18.58333333, 18.66666667,
        18.75      , 18.83333333, 18.91666667, 19.        , 19.08333333,
        19.16666667, 19.25      , 19.33333333, 19.41666667, 19.5       ,
        19.58333333, 19.66666667, 19.75      , 19.83333333, 19.91666667,
        20.        ]),
 'discounts': array([1.        , 0.99791884, 0.995842  , 0.99376949, 0.99170129,
        0.9896374 , 0.9875778 , 0.98552249, 0.98347145, 0.98142469,
        0.97938218, 0.97734393, 0.97530991, 0.97328013, 0.97125458,
        0.96923323, 0.9672161 , 0.96520316, 0.96319442, 0.96118985,
        0.95918946, 0.95719323, 0.95520115, 0.95321322, 0.95122942,
        0.94924976, 0.94727421, 0.94530278, 0.94333545, 0.94137221,
        0.93941306, 0.93745799, 0.93550699, 0.93356004, 0.93161715,
        0.9296783 , 0.92774349, 0.9258127 , 0.92388593, 0.92196317,
        0.92004441, 0.91812965, 0.91621887, 0.91431207, 0.91240924,
        0.91051036, 0.90861544, 0.90672446, 0.90483742, 0.9029543 ,
        0.90107511, 0.89919982, 0.89732844, 0.89546095, 0.89359735,
        0.89173762, 0.88988177, 0.88802978, 0.88618164, 0.88433735,
        0.8824969 , 0.88066028, 0.87882748, 0.8769985 , 0.87517332,
        0.87335194, 0.87153435, 0.86972054, 0.86791051, 0.86610425,
        0.86430174, 0.86250299, 0.86070798, 0.8589167 , 0.85712915,
        0.85534533, 0.85356521, 0.8517888 , 0.85001609, 0.84824707,
        0.84648172, 0.84472006, 0.84296206, 0.84120771, 0.83945702,
        0.83770997, 0.83596656, 0.83422678, 0.83249061, 0.83075806,
        0.82902912, 0.82730377, 0.82558202, 0.82386384, 0.82214925,
        0.82043822, 0.81873075, 0.81702684, 0.81532647, 0.81362964,
        0.81193635, 0.81024657, 0.80856032, 0.80687757, 0.80519832,
        0.80352257, 0.80185031, 0.80018153, 0.79851622, 0.79685437,
        0.79519599, 0.79354106, 0.79188957, 0.79024151, 0.78859689,
        0.78695569, 0.78531791, 0.78368353, 0.78205256, 0.78042498,
        0.77880078, 0.77717997, 0.77556253, 0.77394846, 0.77233774,
        0.77073038, 0.76912636, 0.76752569, 0.76592834, 0.76433432,
        0.76274361, 0.76115621, 0.75957212, 0.75799133, 0.75641382,
        0.7548396 , 0.75326866, 0.75170098, 0.75013657, 0.74857541,
        0.7470175 , 0.74546283, 0.7439114 , 0.7423632 , 0.74081822,
        0.73927646, 0.7377379 , 0.73620255, 0.73467039, 0.73314142,
        0.73161563, 0.73009302, 0.72857357, 0.72705729, 0.72554416,
        0.72403419, 0.72252735, 0.72102366, 0.71952309, 0.71802564,
        0.71653131, 0.71504009, 0.71355197, 0.71206696, 0.71058503,
        0.70910618, 0.70763042, 0.70615772, 0.70468809, 0.70322152,
        0.701758  , 0.70029752, 0.69884009, 0.69738569, 0.69593431,
        0.69448596, 0.69304062, 0.69159829, 0.69015896, 0.68872262,
        0.68728928, 0.68585892, 0.68443153, 0.68300712, 0.68158567,
        0.68016717, 0.67875163, 0.67733904, 0.67592939, 0.67452267,
        0.67311887, 0.671718  , 0.67032005, 0.668925  , 0.66753286,
        0.66614361, 0.66475726, 0.66337379, 0.6619932 , 0.66061548,
        0.65924063, 0.65786864, 0.65649951, 0.65513323, 0.65376979,
        0.65240918, 0.65105141, 0.64969647, 0.64834434, 0.64699503,
        0.64564853, 0.64430483, 0.64296392, 0.64162581, 0.64029048,
        0.63895793, 0.63762815, 0.63630114, 0.63497689, 0.6336554 ,
        0.63233666, 0.63102067, 0.62970741, 0.62839688, 0.62708909,
        0.62578401, 0.62448165, 0.623182  , 0.62188506, 0.62059081,
        0.61929926, 0.6180104 , 0.61672421, 0.61544071, 0.61415988,
        0.61288171, 0.6116062 , 0.61033335, 0.60906314, 0.60779558,
        0.60653066]),
 'forwards': array([0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025]),
 'zerorates': array([0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025,
        0.025, 0.025, 0.025, 0.025, 0.025, 0.025, 0.025]),
 'flatQuotes': True,
 'params': {'tradeDate': 19160,
  'settleDate': 19162,
  'dt': 0.0833333333333333,
  'interpWhat': 'discount',
  'interpHow': 'spline'},
 'table':                           date  zeroRates
 0    2022-06-19 00:00:00+00:00      0.025
 1    2022-07-18 00:00:00+00:00      0.025
 2    2022-08-16 00:00:00+00:00      0.025
 3    2022-09-14 00:00:00+00:00      0.025
 4    2022-10-13 00:00:00+00:00      0.025
 ...                        ...        ...
 1563 2150-08-28 00:00:00+00:00      0.025
 1564 2150-09-28 00:00:00+00:00      0.025
 1565 2150-10-27 00:00:00+00:00      0.025
 1566 2150-11-25 00:00:00+00:00      0.025
 1567 2150-12-24 00:00:00+00:00      0.025

 [1568 rows x 2 columns]}

,d1d,d1w,d1m,d3m,d6m,d1y,s2y,s3y,s5y,s7y,...,s20y,s30y,fut1,fut2,fut3,fut4,fut5,fut6,fut7,fut8
date,,,,,,,,,,,,,,,,,,,,,
2021-05-10,0.0006,0.0007,0.0010,0.0017,0.0019,0.0027,0.0025,0.0041,0.0085,0.0121,...,0.0194,0.0199,99.8300,99.820,99.775,99.800,99.770,99.720,99.625,99.560
2021-05-11,0.0006,0.0007,0.0009,0.0016,0.0019,0.0027,0.0025,0.0043,0.0088,0.0125,...,0.0200,0.0206,99.8300,99.820,99.775,99.795,99.760,99.705,99.610,99.540
2021-05-12,0.0006,0.0007,0.0010,0.0015,0.0019,0.0026,0.0027,0.0047,0.0094,0.0131,...,0.0204,0.0209,99.8350,99.825,99.775,99.790,99.745,99.680,99.565,99.485
2021-05-13,0.0006,0.0007,0.0010,0.0016,0.0019,0.0026,0.0026,0.0045,0.0092,0.0129,...,0.0202,0.0208,99.8400,99.830,99.785,99.800,99.760,99.695,99.585,99.510
2021-05-14,0.0006,0.0007,0.0010,0.0016,0.0019,0.0027,0.0026,0.0045,0.0090,0.0126,...,0.0198,0.0204,99.8400,99.830,99.785,99.800,99.760,99.695,99.585,99.510
2021-05-17,0.0006,0.0007,0.0010,0.0015,0.0019,0.0026,0.0025,0.0045,0.0091,0.0127,...,0.0198,0.0202,99.8475,99.840,99.795,99.810,99.765,99.700,99.590,99.515
2021-05-18,0.0006,0.0007,0.0010,0.0016,0.0018,0.0026,0.0025,0.0044,0.0091,0.0127,...,0.0200,0.0205,99.8500,99.845,99.800,99.815,99.770,99.705,99.595,99.520
2021-05-19,0.0006,0.0007,0.0010,0.0015,0.0018,0.0026,0.0025,0.0044,0.0090,0.0126,...,0.0198,0.0203,99.8500,99.845,99.795,99.810,99.765,99.695,99.575,99.495
2021-05-20,0.0006,0.0006,0.0009,0.0015,0.0018,0.0026,0.0025,0.0045,0.0091,0.0127,...,0.0199,0.0204,99.8550,99.850,99.800,99.815,99.775,99.710,99.600,99.525
2021-05-21,0.0006,0.0006,0.0009,0.0015,0.0018,0.0026,0.0025,0.0045,0.0091,0.0127,...,0.0199,0.0204,99.8525,99.845,99.800,99.815,99.770,99.705,99.595,99.520
2021-05-24,0.0006,0.0006,0.0009,0.0014,0.0018,0.0026,0.0024,0.0044,0.0089,0.0125,...,0.0195,0.0200,99.8625,99.855,99.810,99.825,99.785,99.720,99.610,99.540
2021-05-25,0.0006,0.0006,0.0009,0.0014,0.0018,0.0026,0.0024,0.0042,0.0087,0.0122,...,0.0193,0.0198,99.8650,99.860,99.815,99.830,99.795,99.735,99.635,99.570
2021-05-26,0.0006,0.0006,0.0009,0.0014,0.0017,0.0025,0.0023,0.0041,0.0085,0.0120,...,0.0190,0.0195,99.8725,99.870,99.825,99.840,99.800,99.740,99.635,99.570
2021-05-27,0.0006,0.0006,0.0009,0.0013,0.0017,0.0025,0.0023,0.0043,0.0089,0.0125,...,0.0196,0.0200,99.8825,99.880,99.835,99.845,99.800,99.730,99.620,99.555
2021-05-28,0.0006,0.0006,0.0009,0.0013,0.0017,0.0025,0.0023,0.0042,0.0088,0.0123,...,0.0194,0.0198,99.8775,99.875,99.825,99.840,99.800,99.730,99.615,99.550
2021-06-01,0.0005,0.0006,0.0009,0.0013,0.0017,0.0025,0.0023,0.0043,0.0090,0.0127,...,0.0199,0.0204,99.8825,99.880,99.830,99.840,99.800,99.730,99.615,99.545

   tickQL        type  source          tickSource
0     d1d   ICE_LIBOR    FRED         USDONTD156N
1     d1w   ICE_LIBOR    FRED         USD1WKD156N
2     d1m   ICE_LIBOR    FRED         USD1MTD156N
3     d3m   ICE_LIBOR    FRED         USD3MTD156N
4     d6m   ICE_LIBOR    FRED         USD6MTD156N
5     d1y   ICE_LIBOR    FRED         USD12MD156N
6    fut1  EuroDollar  quandl       CHRIS/CME_ED1
7    fut2  EuroDollar  quandl       CHRIS/CME_ED2
8    fut3  EuroDollar  quandl       CHRIS/CME_ED3
9    fut4  EuroDollar  quandl       CHRIS/CME_ED4
10   fut5  EuroDollar  quandl       CHRIS/CME_ED5
11   fut6  EuroDollar  quandl       CHRIS/CME_ED6
12   fut7  EuroDollar  quandl       CHRIS/CME_ED7
13   fut8  EuroDollar  quandl       CHRIS/CME_ED8
14    s2y         IRS    FRED   ICERATES1100USD2Y
15    s3y         IRS    FRED   ICERATES1100USD3Y
16    s5y         IRS    FRED   ICERATES1100USD5Y
17    s7y         IRS    FRED   ICERATES1100USD7Y
18   s10y         IRS    FRED  ICERATES1100USD10Y
19   s15y         IRS    FRED  ICERATES1100USD15Y
20   s20y         IRS    FRED  ICERATES1100USD20Y
21   s30y         IRS    FRED  ICERATES1100USD30Y

In [ ]:
rt.simOUJ(theta=5,dt=1/252, mr_lag=15, T=5).iloc[:,:100].plot(legend=False, figsize=(20,10))

In [ ]:
mvgbm = rt.MVGBM(
    s0=[100,100,100], 
    r=0.0, 
    sigma=[.2,.2,.2], 
    T=0.25, 
    dt=1/252, 
    cor=[[1,0.5,0.5],[0.5,1,0.5],[0.5,0.5,1]],
    asset_names=['A','B','C']
    )
mvgbm.fit()
mvgbm.simulate()
mvgbm.plot_efficient_frontier(strike=100)

In [ ]:
i = np.random.randint(0,1000)
print(i)
prices = pd.DataFrame(mvgbm.sims[:,i,:])
prices

In [ ]:
returns = np.log(prices) - np.log(prices).shift(1)

In [ ]:
returns.dropna().std()*np.sqrt(252)

In [ ]:
mvgbm2 = rt.MVGBM(
    r=0.0, 
    T=0.25, 
    dt=1/252, 
    prices=prices
    )
mvgbm2.fit()
mvgbm2._s0=[100,100,100]
mvgbm2.simulate()
mvgbm2.plot_efficient_frontier(strike=100, portfolio_sims=10000)

In [ ]:
pd.DataFrame(mvgbm2.sims[:,:,0]).iloc[:,:100].plot(legend=False)

In [ ]:
mvgbm2._sigma

In [ ]:
mvgbm2._cor